/** New Style **/

.creative-user{
    width: 40px;
    border-radius: 20px;
}

.k-bg-brand {
    background-color: #006ac0 !important;
}

.nav-pills, .nav-tabs{
    margin-bottom: 0px !important;
    margin-left: 20px;
}

.nav-pills .nav-item .nav-link:active, .nav-pills .nav-item .nav-link.active, .nav-pills .nav-item .nav-link.active:hover {
    background-color: #006ac0;
    color: #fff;
}
.nav-pills.nav-tabs-btn .nav-link{
    border: 2px solid #006ac0;
}

.btn-brand {
    color: #fff;
    background-color: #006ac7;
    border-color: #006ac7;
}

.form-control[readonly] {
    background-color: #deeaf4;
}

.list-avatar{
	text-indent: right;
}

.text-muted-group{
    margin-bottom: 20px;
    line-height: 10px;
}
.text-sup-muted{
    font-size: 0.9rem;
}
sup{
    color: red;
}

.k-checkbox:last-child{
    margin-bottom: 10rem;
}

.purpose-project-group{
    margin-bottom: 2rem;
}

.k-noportlet{
    margin-bottom: 0px !important
}
.k-aside__brand-logo a img {
    width: 180px;
}
@media only screen and (max-width: 600px) {
    .k-aside__brand-logo a img {
    width: 150px;
    }
}

@media (max-width: 1024px){
.k-header-mobile {
    background-color: #006ac7 !important;
    -webkit-box-shadow: 0px 1px 9px -3px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 9px -3px rgba(0,0,0,0.1);
}
.k-header-mobile__logo a img {
    width: 150px !important;
    }
}


