/** New Style **/

.creative-user{
    width: 40px;
    border-radius: 20px;
}

.k-bg-brand {
    background-color: #006ac0 !important;
}

.nav-pills, .nav-tabs{
    margin-bottom: 0px !important;
    margin-left: 20px;
}

.nav-pills .nav-item .nav-link:active, .nav-pills .nav-item .nav-link.active, .nav-pills .nav-item .nav-link.active:hover {
    background-color: #006ac0;
    color: #fff;
}
.nav-pills.nav-tabs-btn .nav-link{
    border: 2px solid #006ac0;
}

.btn-brand {
    color: #fff;
    background-color: #006ac7;
    border-color: #006ac7;
}

.form-control[readonly] {
    background-color: #deeaf4;
}